

body {
	margin: 0px;
	padding: 0px;
	/*background: #e7e9e8 url(images/bg1.jpg) no-repeat ;*/
	background: none;
	font-size: 12px;
	color:#333;
}

h1, h2, h3, h4, h5 ,p, form{
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul,dl,dd {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

#header_bg {
	width: 100%;
	background: url("images/topbar.png") repeat-x;
}

#header {
	margin: 0 auto;
	width: 900px;
}

#header .nav-bar {
	min-width: 800px;
	height: 30px;
	margin: 0 auto;
}

#header .logo {
	width:100px;
	height: 30px;
	float:left;
}

#header .logo img{
	display: block;
}

#header .member {
	width: 70px;
	height: 30px;
	line-height: 30px;
	float: right;
	font-size: 12px;
	cursor: pointer;
	position: relative;
}

#header .member_ul {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 100px;
	height: 0;
	background: #FBF7E1;
	border: 1px solid #999;
	border-top: none;
	padding: 10px 0 0 0;
	display: none;
	opacity:0;
	overflow: hidden;
	alter:alpha(opacity=0);
}

#header .member_ul li {
	height: 25px;
	line-height: 25px;
	text-indent: 20px;
}

#header .member_ul li a {
	display: block;
	text-decoration: none;
	color: #333;
}

#header .member_ul li a:hover {
	background: #fc0;
}

#screen {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9998;
	background: black;
	filter: alpha(opacity=0);
	opacity: 0;
	display: none;
}

#header .login,#header .reg, #header .info {
	float: right;
	width: 35px;
	height:30px;
	line-height: 30px;
	font-size: 12px;
	cursor: pointer;	
}

#header .info {
	width: auto;
}

#login {
	width: 350px;
	height: 250px;
	border: 1px solid #ccc;
	position: absolute;
	display: none;
	z-index: 9999;
	background: #fff;
}

#login h2 {
	height:25px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color:#666;
	background: url("images/layerbg1.png") 0 -46px repeat-x;
	margin: 0 0 10px 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
	cursor: move;
}

#login .close {
	width: 18px;
	height: 18px;
	float: right;
	position: relative;
	top:5px;
	right: 5px;
	background: url("images/layerbg1.png") 0 -90px repeat-x;
	cursor: pointer;
}

#login div.info{
	padding:5px 0 5px 0;
	text-align: center;
	color: maroon;
	height:18px;
}

#login div.user, #login div.pass {
	font-size: 14px;
	color: #666;
	padding: 5px 0;
	margin: 0 auto;
	text-align: center;
}

 #login div.submit {
 	font-size: 14px;
	color: #666;
	padding: 5px 0;
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
 }

#login input.text {
	width: 200px;
	height: 25px;
	border: 1px solid #ccc;
	background: white;
	font-size: 14px;
}

#login input.submit {
	width: 58px;
	padding: 0 10px 0 8px;
	height: 23px;
	cursor: pointer;
}

#login .other {
	margin-top: 20px;
	text-align: right;
	padding: 15px;
	font-size: 12px;
	color: #555;
}

/*发文*/

#blog {
	width: 580px;
	height: 320px;
	border: 1px solid #ccc;
	position: absolute;
	display: none;
	z-index: 9999;
	background: #fff;
}

#blog h2 {
	height:25px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color:#666;
	background: url("images/layerbg1.png") 0 -46px repeat-x;
	margin: 0 0 20px 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
	cursor: move;
}

#blog .close {
	width: 18px;
	height: 18px;
	float: right;
	position: relative;
	top:5px;
	right: 5px;
	background: url("images/layerbg1.png") 0 -90px repeat-x;
	cursor: pointer;
}
#blog div.info {
	padding: 15px 0 5px 0;
	text-align: center;
	color: maroon;
}
#blog dl {
	padding: 0 0 0 10px;
}

#blog dl dd {
	font-size: 14px;
	padding: 10px;
}

#blog dl dd input.title{
	width: 200px;
	height: 25px;
	border: 1px solid #ccc;
	background: #fff;
	font-size: 14px;
	color: #666;
}

#blog dl dd input.submit {
	width: 107px;
	height: 33px;
	cursor: pointer;
}

#blog dl dd textarea.content {
	width: 360px;
	height: 100px;
	background: #fff;
	border: 1px solid #ccc;
	max-width: 360px;
	max-height: 100px;
}

#skin {
	width: 650px;
	height: 350px;
	border: 1px solid #ccc;
	position: absolute;
	display: none;
	z-index: 9999;
	background: #fff;
}

#skin h2 {
	height:25px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color:#666;
	background: url("images/layerbg1.png") 0 -46px repeat-x;
	margin: 0 0 20px 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
	cursor: move;
}

#skin .close {
	width: 18px;
	height: 18px;
	float: right;
	position: relative;
	top:5px;
	right: 5px;
	background: url("images/layerbg1.png") 0 -90px repeat-x;
	cursor: pointer;
}

#skin dl {
	float: left;
	padding: 0 0 0 12px;
}

#skin dl dt {
	display: block;
	cursor: pointer;
}

#skin dl dd {
	text-align: center;
	padding: 5px 0 0 0 ;
	letter-spacing: 1px;
}

#skin .skin_bg {
	position: relative;

}

#skin .skin_bg span.loading {
	position: absolute;
	width: 100px;
	height: 50px;
	top: 140px;
	left:290px;
	background: url("images/loading.gif") no-repeat;
}
/*注册*/
#reg {
	width: 600px;
	height: 550px;
	border: 1px solid #ccc;
	position: absolute;
	display: none;
	z-index: 9999;
	background: #fff;
}

#reg h2 {
	height:25px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color:#666;
	background: url("images/layerbg1.png") 0 -46px repeat-x;
	margin: 0 0 20px 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
	cursor: move;
}

#reg .close {
	width: 18px;
	height: 18px;
	float: right;
	position: relative;
	top:5px;
	right: 5px;
	background: url("images/layerbg1.png") 0 -90px repeat-x;
	cursor: pointer;
}

#reg dl {
	font: 14px;
	color: #666;
	margin: 20px;
	position: relative;
}

#reg dl dd {
	height: 30px;
	padding: 5px 0;
}

#reg dl dd label {
	display: inline-block;
	width: 60px;
	height: 30px;
	text-align: justify;
}

#reg dl dd input.text, #reg dl dd select{
	width: 200px;
	height: 25px;
	border: 1px solid #ccc;
	background: #fff;
	font-size: 14px;
	color: #666;
}

#reg dl dd select {
	width: 202px;
}

#reg dl dd.birthday select{
	width: 70px;
}

#reg dl dd textarea {
	width: 360px;
	height: 100px;
	background: #fff;
	border: 1px solid #ccc;
}

#reg dl dd.ps {
	padding:0 0 0 320px; 
}

#reg dl dd.ps strong.num{
	padding:0 2px; 
}

#reg dl dd.ps span.clear{
	color:#06f;
	cursor: pointer;
}


#reg dl dd input.submit {
	width:143px;
	height: 33px;
	margin-left: 64px;
	/*border:none;*/
	cursor: pointer;
}

#reg dl dd span.info, #reg dl dd span.error, #reg dl dd span.succ {
	padding: 0 18px;
	font-size: 12px;
	color: #333;
	width: 200px;
	height: 18px;
	line-height: 18px;
	position: absolute;
	letter-spacing: 1px;
	display: none;
}

#reg dl dd span.info {
	background: 0px 2px url(images/info.ico) no-repeat ;
	background-size:  14px 14px;
}

#reg dl dd span.error {
	background: 0px 2px url(images/error.ico) no-repeat ;
	background-size:  14px 14px;
}

#reg dl dd span.succ {
	background: 0px 2px url(images/success.ico) no-repeat ;
	background-size:  14px 14px;
}

#reg dl dd span.loading {
	position: absolute;
	top: 10px;
	left: 275px;
	font-size: 12px;
	text-indent: 22px;
	padding: 1px 0 0 0;
	display: none;
}

#reg dl dd span.error_user{
	top:10px;
	left: 275px;
}

#reg dl dd span.succ_user {
	top:10px;
	left: 275px;
}

#reg dl dd span.info_user {
	top:10px;
	left: 275px;
	line-height: 18px;
	height: 43px;
}

#reg dl dd span.error_pass{
	top:51px;
	left: 275px;
}

#reg dl dd span.succ_pass {
	top:51px;
	left: 275px;
}

#reg dl dd span.info_pass {
	background: 0px 7px url(images/info.ico) no-repeat ;
	background-size:  14px 14px;
	top:46px;
	left: 275px;
	line-height: 26px;
	height: 102px;
	width: 244px;
	background-color: #fff;
	z-index: 2;
}

#reg dl dd span.info_pass p{
	color: #666;
	letter-spacing: 0;
}

#reg dl dd span.info_pass p strong.s{
	line-height: 20px;
	font-size: 20px;
	color: #ccc;
}

#reg dl dd span.info_pass p strong.q{
	text-align: top;
	line-height: 20px;
	font-size: 20px;
	color: #666;
}


#reg dl dd span.error_notpass{
	top:91px;
	left: 275px;
}

#reg dl dd span.succ_notpass {
	top:91px;
	left: 275px;
}

#reg dl dd span.info_notpass {
	top:91px;
	left: 275px;
	height: 102px;
	width: 244px;
}

#reg dl dd span.error_ans{
	top:170px;
	left: 275px;
}

#reg dl dd span.succ_ans {
	top:170px;
	left: 275px;
}

#reg dl dd span.info_ans {
	top:170px;
	left: 275px;
	height: 102px;
	width: 244px;
}

#reg dl dd span.error_email{
	top:210px;
	left: 275px;
}

#reg dl dd span.succ_email {
	top:210px;
	left: 275px;
}

#reg dl dd span.info_email {
	top:210px;
	left: 275px;
	height: 102px;
	width: 244px;
}

#reg dl dd span.error_ques {
	top: 128px;
	left: 275px;
}

#reg dl dd span.error_birthday {
	top: 249px;
	left: 322px;
}

#reg dl dd ul.all_email {
	width: 180px;
	height: 130px;
	background: #fff;
	position: absolute;
	top: 233px;
	left: 63px;
	border: 1px solid #ccc;
	padding: 10px;
	display: none;
}

#reg dl dd ul.all_email li {
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #e5edf2;
	padding: 0 5px;
	cursor: pointer;
}



/*导航栏*/
#nav {
	width:465px;
	height:52px;
	background: #f2f2f2 /*url(images/nav_bg.png) no-repeat*/;
	margin: 50px auto;
	border-radius: 12px;
	overflow: hidden;
	position:relative;
}

#nav ul {
	position: absolute;
}

#nav ul.black {
	left: 20px;
	color: #333;
	z-index: 1;
}

#nav .white {
	left: 0px;
	width: 450px;
	z-index: 3;
	color:#fff;
	background: transparent;
}

#nav ul.about {
	z-index: 4;
	left: 20px;
	cursor: pointer;
	/*解决IE滑动bug*/
	background: red;
	filter:alpha(opacity=0);
	opacity: 0;
}

#nav ul.white li {
	line-height: 32px;
	height: 32px;
}
#nav div.nav_bg {
	display: block;
	width: 85px;
	height: 30px;
	background: #333;
	position: absolute;
	border-radius: 10px;
	left: 20px;
	top: 11px;
	overflow: hidden;
	z-index: 2;
}

#nav ul li {
	width: 85px;
	height: 52px;
	float: left;
	background: transparent;
	text-align: center;
	line-height: 52px;
	font-weight: bold;
}

#main{
	width: 900px;
	height: 2000px;
	/*background: red;*/
	margin: 50px auto;
	position: relative;
}

#sidebar {
	width: 250px;
	height: 500px;
	float: left;
}

#sidebar h2 {
	width: 248px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	background: #ccc;
	text-indent: 10px;
	border: 1px solid #bbb;
	border-bottom: none;
}

#sidebar ul {
	height: 150px;
	border: 1px solid #bbb;
	margin: 0 0 10px 0;
	overflow: hidden;
	background-color: #fff;
	opacity:1;
	filter: alpha(opacity=100);
}

#sidebar ul li {
	height: 30px;
	line-height: 30px;
	/*background: url();*/
	text-indent: 30px;

}

#sidebar ul li a{
	text-decoration: none;
	color: #333;

}

#index {
	width: 630px;
	height: 570px;
	float: right;
	position: relative;
}

#index div.content h2 {
	width: 628px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	background: #ccc;
	text-indent: 10px;
	border: 1px solid #bbb;
	border-bottom: none;
}

#index div.content {
	opacity: 0;
	filter: alpha(opacity=0);
}

#index div.content p {
	height: 130px;
	border: 1px solid #bbb;
	margin: 0 0 10px 0;
	overflow: hidden;
	padding: 10px;
	text-indent: 24px;
	line-height: 150%;
	background: #fff;
}

#index span.loading {
	position: absolute;
	top: 260px;
	left: 260px;
	width:50px;
	height: 50px;
	background: url("images/loading.gif") no-repeat;
	display: none;
}

#index div.content h2 em {
	float: right;
	font-style: normal;
	font-weight: normal;
	padding: 0 10px 0 0;
}

#banner {
	width: 900px;
	height: 150px;
	float: left;
	margin:10px 0;
	position: relative;
	overflow: hidden;
}

#banner img{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#banner ul {
	position: absolute;
	top: 125px;
	left: 420px;
	z-index: 4;
}

#banner ul li {
	font-size: 20px;
	color: #999;
	padding: 0 5px;
	float:  left;
	cursor: pointer;
}

#banner strong {
	position: absolute;
	top: 130px;
	left: 10px;
	color: #fff;
	z-index: 3;
}

#banner span {
	position: absolute;
	top: 125px;
	left: 0;
	width: 900px;
	height: 25px;
	background: #333;
	opacity: 0.3;
	filter: alpha(opacity=30); 
	z-index: 3;
}


#photo {
	width: 900px;
	float: left;
	background: #fff;
	padding: 10px 0 0 0;
}

#photo dl {
	width: 225px;
	height: 270px;
	float: left;
	margin: 5px 0 15px 0;
}

#photo dl dt {
	width: 200px;
	height: 250px;
	background: #eee;
	margin: 0 auto;
}

#photo dl dt img {
	display: block;
	cursor:pointer;
}

#photo dl dd {
	height: 25px;
	line-height: 25px;
	text-align: center;
}

#photo_big {
	width: 620px;
	height: 496px;
	border: 1px solid #ccc;
	position: absolute;
	display: none;
	z-index: 9999;
	background: #333;
}

#photo_big h2 {
	height:25px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color:#666;
	background: url("images/layerbg1.png") 0 -46px repeat-x;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
	cursor: move;
}

#photo_big .close {
	width: 18px;
	height: 18px;
	float: right;
	position: relative;
	top:5px;
	right: 5px;
	background: url("images/layerbg1.png") 0 -90px repeat-x;
	cursor: pointer;
}

#photo_big .big {
	width: 620px;
	height: 460px;
	padding: 10px 0 0 0;
	overflow: hidden;
}

#photo_big .big img{
	display: block;
	margin: 0 auto;
	position: relative;
	top: 200px;
}

#photo_big .big strong {
	display: block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	background: #000;
	opacity: 0;
	filter:alpha(opacity=0);
	color: #fff;
	font-size: 60px;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
	position: absolute;
	z-index: 3;
}

#photo_big .big strong.sl {
	top: 180px;
	left: 20px;
}

#photo_big .big strong.sr {
	top: 180px;
	right: 20px;
}

#photo_big .big span {
	display: block;
	width: 300px;
	height: 450px;
	background: #000;
	opacity: 0;
	filter:alpha(opacity=0);
	position: absolute;
	cursor: pointer;
	z-index: 4;
}

#photo_big .big span.left {
	top: 36px;
	left: 10px;
}

#photo_big .big span.right {
	top: 36px;
	right: 10px;
}

#photo_big .big em {
	position: absolute;
	top: 460px;
	right: 20px;
	color: #fff;
	font-size: 14px;
	font-style: normal;
}

/*分享侧边栏*/
#share {
	width:210px;
	height: 315px;
	border: 1px solid #ccc;
	position: absolute;
	top : 100px;
	left: -211px;
	background: #fff;
	z-index: 999
}

#share h2 {
	height: 30px;
	line-height: 30px;
	background: #eee;
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: #666;
	text-indent: 10px;
}

#share ul {
	height: 254px;
	padding: 3px 0 2px 5px;
}

#share ul li {
	width: 96px;
	height: 28px;
	padding: 2px;
	float: left;
}

#share ul li a {
	width: 95px;
	height: 26px;
	display: block;
	line-height: 26px;
	color: #666;
	text-indent: 30px;
	background-image: url("images/share_background_img.png");
	background-repeat: no-repeat;
}

#share ul li a.share_link1 {
	background-position: 5px 5px;
}

#share ul li a.share_link2 {
	background-position: 5px -46px;
}

#share ul li a.share_link3 {
	background-position: 5px -100px;
}

#share ul li a.share_link4 {
	background-position: 5px -150px;
}

#share ul li a.share_link5 {
	background-position: 5px -203px;
}

#share ul li a.share_link6 {
	background-position: 5px -255px;
}

#share ul li a.share_link7 {
	background-position: 5px -306px;
}

#share ul li a.share_link8 {
	background-position: 5px -358px;
}

#share ul li a.share_link9 {
	background-position: 5px -411px;
}

#share ul li a.share_link10 {
	background-position: 5px -463px;
}

#share ul li a.share_link11 {
	background-position: 5px -515px;
}

#share ul li a.share_link12 {
	background-position: 5px -567px;
}

#share ul li a.share_link13 {
	background-position: 5px -619px;
}

#share ul li a.share_link14 {
	background-position: 5px -671px;
}

#share ul li a.share_link15 {
	background-position: 5px 5px;
}

#share ul li a:hover {
	opacity: 0.7;
	filter: alpha(opacity: 70);
	background-color: #eee;
	color: #06f
}

#share .share_footer {
	height: 26px;
	background: #eee;
	position: relative;
}

#share .share_footer a {
	position: absolute;
	top : 7px;
	left: 130px;
	padding: 0 0px 0 20px;
	background: #eee url(images/share_background_img.png) no-repeat 0 0px;
	text-indent: none;
	color: #666;
}

#share .share_footer a:hover {
	color: #06f;
	opacity: 0.7;
	filter: alpha(opacity: 70);
}

#share span {
	display: block;
	width: 15px;
	height: 68px;
	background: #333;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	position: absolute;
	padding: 20px 10px 0 8px;
	top: 50px;
	left: 210px;
	color: #fff;
	font-size: 15px;
}

#loading {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 200px;
	height: 40px;
	background: #fff;
	border: 1px solid #ccc;
	z-index: 10000;
	display: none;
}

#loading p {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	background: url(images/loading.gif) no-repeat 20px center;
	background-size: 18px;
	text-indent: 50px;
}



#success {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 200px;
	height: 40px;
	background: #fff;
	border: 1px solid #ccc;
	z-index: 10000;
	display: none;
}

#success p {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	background: url(images/success.ico) no-repeat 20px center;
	background-size: 18px;
	text-indent: 50px;
}


#footer {
	width: 900px;
	float: left;
	text-align:center;
	padding: 20px;
}
