

body {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

#header {
	margin: 0;
	background: url("images/topbar.png") repeat-x;
}

#header .nav-bar {
	min-width: 800px;
	height: 30px;
	margin: 0 auto;
}

#header .logo {
	width:100px;
	height: 30px;
	float:left;
}

#header .logo img{
	display: block;
}

#header .member {
	width: 70px;
	height: 30px;
	line-height: 30px;
	float: right;
	font-size: 12px;
	cursor: pointer;
	position: relative;
}

#header .member_ul {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 100px;
	height: 110px;
	background: #FBF7E1;
	border: 1px solid #999;
	border-top: none;
	padding: 10px 0 0 0;
	display: none;
}

#header .member_ul li {
	height: 25px;
	line-height: 25px;
	text-indent: 20px;
}

#header .member_ul li a {
	display: block;
	text-decoration: none;
	color: #333;
}

#header .member_ul li a:hover {
	background: #fc0;
}

#screen {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9998;
	background: black;
	filter: alpha(opacity=30);
	opacity: 0.3;
	
}

.login {
	float: right;
	width: 35px;
	height:30px;
	line-height: 30px;
	font-size: 12px;
	cursor: pointer;	
}

#login {
	width: 350px;
	height: 250px;
	border: 1px solid #ccc;
	position: absolute;
	display: none;
	z-index: 9999;
	background: #fff;
}

#login h2 {
	height:25px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color:#666;
	background: url("images/layerbg1.png") 0 -46px repeat-x;
	margin: 0 0 20px 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
	cursor: move;
}

#login h2 img {
	width: 18px;
	height: 18px;
	float: right;
	position: relative;
	top:5px;
	right: 5px;
	background: url("images/layerbg1.png") 0 -90px repeat-x;
	cursor: pointer;
}

#login div.user, #login div.pass {
	font-size: 14px;
	color: #666;
	padding: 5px 0;
	margin: 0 auto;
	text-align: center;
}

#login input.text {
	width: 200px;
	height: 25px;
	border: 1px solid #ccc;
	background: white;
	font-size: 14px;
}

#login input.submit {
	width: 58px;
	padding: 0 10px 0 8px;
	height: 23px;
	cursor: pointer;
}

#login .other {
	margin-top: 50px;
	text-align: right;
	padding: 15px;
	font-size: 12px;
	color: #555;
}




/*分享侧边栏*/
#share {
	width:210px;
	height: 315px;
	border: 1px solid #ccc;
	position: absolute;
	top : 100px;
	left: -211px;
	background: #fff;
}

#share h2 {
	height: 30px;
	line-height: 30px;
	background: #eee;
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: #666;
	text-indent: 10px;
}

#share ul {
	height: 254px;
	padding: 3px 0 2px 5px;
}

#share ul li {
	width: 96px;
	height: 28px;
	padding: 2px;
	float: left;
}

#share ul li a {
	width: 95px;
	height: 26px;
	display: block;
	line-height: 26px;
	color: #666;
	text-indent: 30px;
	background-image: url("images/share_background_img.png");
	background-repeat: no-repeat;
}

#share ul li a.share_link1 {
	background-position: 5px 5px;
}

#share ul li a.share_link2 {
	background-position: 5px -46px;
}

#share ul li a.share_link3 {
	background-position: 5px -100px;
}

#share ul li a.share_link4 {
	background-position: 5px -150px;
}

#share ul li a.share_link5 {
	background-position: 5px -203px;
}

#share ul li a.share_link6 {
	background-position: 5px -255px;
}

#share ul li a.share_link7 {
	background-position: 5px -306px;
}

#share ul li a.share_link8 {
	background-position: 5px -358px;
}

#share ul li a.share_link9 {
	background-position: 5px -411px;
}

#share ul li a.share_link10 {
	background-position: 5px -463px;
}

#share ul li a.share_link11 {
	background-position: 5px -515px;
}

#share ul li a.share_link12 {
	background-position: 5px -567px;
}

#share ul li a.share_link13 {
	background-position: 5px -619px;
}

#share ul li a.share_link14 {
	background-position: 5px -671px;
}

#share ul li a.share_link15 {
	background-position: 5px 5px;
}

#share ul li a:hover {
	opacity: 0.7;
	filter: alpha(opacity: 70);
	background-color: #eee;
	color: #06f
}

#share .share_footer {
	height: 26px;
	background: #eee;
	position: relative;
}

#share .share_footer a {
	position: absolute;
	top : 7px;
	left: 130px;
	padding: 0 0px 0 20px;
	background: #eee url(images/share_background_img.png) no-repeat 0 0px;
	text-indent: none;
	color: #666;
}

#share .share_footer a:hover {
	color: #06f;
	opacity: 0.7;
	filter: alpha(opacity: 70);
}

#share span {
	display: block;
	width: 15px;
	height: 68px;
	background: #333;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	position: absolute;
	padding: 20px 10px 0 8px;
	top: 50px;
	left: 210px;
	color: #fff;
	font-size: 15px;
}