

body {
	margin: 0px;
	padding: 0px;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

#header {
	margin: 0;
	background: url("images/topbar.png") repeat-x;
}

#header .nav-bar {
	min-width: 800px;
	height: 30px;
	margin: 0 auto;
}

#header .logo {
	width:100px;
	height: 30px;
	float:left;
}

#header .logo img{
	display: block;
}

#header .member {
	width: 70px;
	height: 30px;
	line-height: 30px;
	float: right;
	font-size: 12px;
	cursor: pointer;
	position: relative;
}

#header .member_ul {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 100px;
	height: 110px;
	background: #FBF7E1;
	border: 1px solid #999;
	border-top: none;
	padding: 10px 0 0 0;
	display: none;
}

#header .member_ul li {
	height: 25px;
	line-height: 25px;
	text-indent: 20px;
}

#header .member_ul li a {
	display: block;
	text-decoration: none;
	color: #333;
}

#header .member_ul li a:hover {
	background: #fc0;
}

#screen {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9998;
	background: black;
	filter: alpha(opacity=30);
	opacity: 0.3;
	
}

.login {
	float: right;
	width: 35px;
	height:30px;
	line-height: 30px;
	font-size: 12px;
	cursor: pointer;	
}

#login {
	width: 350px;
	height: 250px;
	border: 1px solid #ccc;
	position: absolute;
	display: none;
	z-index: 9999;
	background: #fff;
}

#login h2 {
	height:25px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color:#666;
	background: url("images/layerbg1.png") 0 -46px repeat-x;
	margin: 0 0 20px 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
	cursor: move;
}

#login h2 img {
	width: 18px;
	height: 18px;
	float: right;
	position: relative;
	top:5px;
	right: 5px;
	background: url("images/layerbg1.png") 0 -90px repeat-x;
	cursor: pointer;
}

#login div.user, #login div.pass {
	font-size: 14px;
	color: #666;
	padding: 5px 0;
	margin: 0 auto;
	text-align: center;
}

#login input.text {
	width: 200px;
	height: 25px;
	border: 1px solid #ccc;
	background: white;
	font-size: 14px;
}

#login input.submit {
	width: 58px;
	padding: 0 10px 0 8px;
	height: 23px;
	cursor: pointer;
}

#login .other {
	margin-top: 50px;
	text-align: right;
	padding: 15px;
	font-size: 12px;
	color: #555;
}