

body {
	margin: 0px;
	padding: 0px;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

#header {
	margin: 0;
	background: url("images/topbar.png") repeat-x;
}

#header .nav-bar {
	width: 900px;
	height: 30px;
	margin: 0 auto;
}

#header .logo {
	width:100px;
	height: 30px;
	float:left;
}

#header .logo img{
	display: block;
}

#header .member {
	width: 70px;
	height: 30px;
	line-height: 30px;
	float: right;
	font-size: 12px;
	cursor: pointer;
}

#header ul {
	position: absolute;
	top: 30px;
	left: 800px;
	width: 100px;
	height: 110px;
	background: #FBF7E1;
	border: 1px solid #999;
	border-top: none;
	padding: 10px 0 0 0;
	display: none;
}

#header ul li {
	height: 25px;
	line-height: 25px;
	text-indent: 20px;
}

#header ul li a {
	display: block;
	text-decoration: none;
	color: #333;
}

#header ul li a:hover {
	background: #fc0;
}